body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.navbar {
    margin-bottom: 30px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
